@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes borderRotate {
  0% {
    transform: rotate(0deg) scale(1.5);
  }

  100% {
    transform: rotate(360deg) scale(1.5);
  }
}

.animate-border {
  animation: borderRotate 4s linear infinite;
}

.bg-gradient-conic {
  background-image: conic-gradient(
    var(--conic-position),
    var(--tw-gradient-stops)
  );
}

body {
  background: black;
  color: white;
}